@font-face {
  font-family: "Caveat-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/Caveat/Caveat-Regular.ttf");
}

header {
  background: url("/public/img/header-photo.png");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  #groups-list,
  #assignedGroup {
    font-size: 20px;
    width: 50px;
    height: 30px;
  }
}

.login-form-label {
  font-size: 24px;
}

.input-field,
.employees_input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

li {
  font-size: 24px;
}

select {
  cursor: pointer;
}

.radio-btn:hover,
#previous-date:hover {
  cursor: pointer;
}

.answers-field label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.question-text {
  margin: 10px auto;
  font-weight: 600;
}

.answers-field {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.answer-item {
  display: flex;
  gap: 20px;
}

.login-btn {
  width: 90px;
  height: 40px;
  border-radius: 5px;

  @media (hover: hover) {
    &:hover {
      color: red;
      cursor: pointer;
    }
  }
}

#departaments-select,
#employees-select {
  width: 400px;
  height: 30px;
  padding: 3px;
  font-size: 18px;
}

.check-btn {
  margin: 20px;
  width: 150px;
  height: 30px;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}

.protocol-btn {
  margin: 20px;
  width: 150px;
  height: 30px;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}

.form_top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 170px;
  width: 400px;
}

.certificate-section {
  height: 230px;
  width: 700px;
  display: flex;
  justify-content: center;

  .certificate {
    &_closed {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 350px;
      height: 230px;
      background-color: blue;

      &-title {
        font-size: 26px;
        color: white;
      }
    }

    &_open {
      display: flex;
      border: solid 4px blue;
      background-color: rgb(255, 255, 255);
      padding: 10px;
      height: 230px;

      &_left-side {
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 5px;

        p {
          font-family: "Caveat-Regular", "Arial", sans-serif;
          font-size: 26px;
          color: blue;
        }

        #destText {
          font-family: "Arial";
          color: black;
          font-size: 12px;
          font-weight: 600;
          margin: auto 0 0 0;
        }
      }

      &_right-side {
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-left: solid 4px blue;

        p {
          text-align: center;
          font-family: "Caveat-Regular", "Arial", sans-serif;
          font-size: 24px;
          color: blue;
        }
      }
    }
  }
}
